services:
  dracor-dind-jupyterlab:
    image: "dracor/dind-jupyterlab"
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dracor-dind-jupyterlab
    privileged: true
    environment:
      - GITHUB_TOKEN
      - DOCKERHUB_USER
      - DOCKERHUB_PASSWORD
    ports:
      - "3030:3030"
      - "8889:8889"
      - "8088:8088"
      - "8787:8787"
      - "8080:8080"
    volumes:
      - ./notebooks:/home/dracor/notebooks